[worldserver]

########################################
# General configuration
########################################
#
#    EncounterLogs.General.Enabled
#        Default:     1 - Enabled
#                     0 - Disabled
#

EncounterLogs.General.Enabled = 1

#
#    EncounterLogs.General.Database
#        Default:     database
#                     scylladb
#

EncounterLogs.General.Database = database

########################################
# ScyllaDB configuration (Needed only for ScyllaDB)
########################################

EncounterLogs.ScyllaDB.Host = 127.0.0.1
EncounterLogs.ScyllaDB.Port = 9042
EncounterLogs.ScyllaDB.Keyspace = encounter_logs
EncounterLogs.ScyllaDB.Username = admin
EncounterLogs.ScyllaDB.Password = admin
EncounterLogs.ScyllaDB.ReplicationStrategy = SimpleStrategy
EncounterLogs.ScyllaDB.ReplicationFactor = 1
EncounterLogs.ScyllaDB.CheckAsyncQueries = 0

########################################
# Logging configuration
########################################
#
#    EncounterLogs.Logging.Scope
#        Default:     3 Dungeons and raids
#                     2 Raids
#                     1 Dungeons
#

EncounterLogs.Logging.Scope = 3

#
#    EncounterLogs.Logging.OpenWorld.Entries
#        Description: List of creature template entries separated with ;
#        Default:     (empty)
#

EncounterLogs.Logging.OpenWorld.Entries =

#
#    EncounterLogs.Logging.OpenWorld.Guids
#        Description: List of creature guids separated with ;
#        Default:     (empty)
#

EncounterLogs.Logging.OpenWorld.Guids =

########################################
# System configuration
# WARNING NEVER TOUCH THESE UNLESS YOU ARE SURE YOU KNOW WHAT YOU ARE DOING
########################################
#
#    EncounterLogs.System.SaveFrequency
#        Description: Interval for saving logs to DB in milliseconds
#        Default:     1000
#

EncounterLogs.System.SaveFrequency = 1000

#
#    EncounterLogs.System.BatchSize
#        Description: Count of values per insert
#        Default:     1000
#

EncounterLogs.System.BatchSize = 1000

#
#    EncounterLogs.System.ActiveInstanceTrackerFrequency
#        Description: Interval for checking which instances are closed and creating log for it
#                     Running this every second is pointless but increasing this time would increase delay when turning off server
#                     This system should be probably reworked
#        Default:     1
#

EncounterLogs.System.ActiveInstanceTrackerFrequency = 1
