[worldserver]

########################################
# General configuration
########################################
#
#    EncounterLogs.General.Enabled
#        Default:     1 - Enabled
#                     0 - Disabled
#

EncounterLogs.General.Enabled = 1

########################################
# Logging configuration
########################################
#
#    EncounterLogs.Logging.Scope
#        Default:     3 Dungeons and raids
#                     2 Raids
#                     1 Dungeons
#

EncounterLogs.Logging.Scope = 3

#
#    EncounterLogs.Logging.OpenWorld.Entries
#        Description: List of creature template entries separated with ;
#        Default:     (empty)
#

EncounterLogs.Logging.OpenWorld.Entries =

#
#    EncounterLogs.Logging.OpenWorld.Guids
#        Description: List of creature guids separated with ;
#        Default:     (empty)
#

EncounterLogs.Logging.OpenWorld.Guids =

########################################
# System configuration
# WARNING NEVER TOUCH THESE UNLESS YOU ARE SURE YOU KNOW WHAT YOU ARE DOING
########################################
#
#    EncounterLogs.System.SaveFrequency
#        Description: Interval for saving logs to DB in milliseconds
#        Default:     1000
#

EncounterLogs.System.SaveFrequency = 1000

#
#    EncounterLogs.System.BatchSize
#        Description: Count of values per insert
#        Default:     1000
#

EncounterLogs.System.BatchSize = 1000
